* {
	padding: 0px;
	margin: 0px;
	font-family: Century Gothic;
}

body {
	background-color: white;
}

div {
	padding: 30px;
	background-color: #fff;
	margin: 50px;
	border-color: lightblue;
	border-width: 5px;
	border-style: solid;
	border-radius: 10px;
}

input {
	padding: 9px;
	font-size: 18px;
	border: solid 1px #aaa;
	width: 80%;
	border-color: lightblue;
}

input[type="button"] {
	width: 15%;
	border-color: lightblue;
}

